<?php
require   'vendor/autoload.php';

define("SITE_URL" , "http://localhost/tuto-paypal-linio/paypal-sdk");


class start{
    
    function apiContext(){
        $apiContext  = new \PayPal\Rest\ApiContext(
            new \PayPal\Auth\OAuthTokenCredential(
                '', // ClientID
                ''  // ClientSecret
            )
        );
        
        $apiContext->setConfig(
            array(
                'mode' => 'sandbox', //sandbox | live
                'log.LogEnabled' => true,
                'log.FileName' => '../PayPal.log',
                'log.LogLevel' => 'DEBUG', // PLEASE USE `INFO` LEVEL FOR LOGGING IN LIVE ENVIRONMENTS -  INFO | DEBUG
                'cache.enabled' => true,
                // 'http.CURLOPT_CONNECTTIMEOUT' => 30
                // 'http.headers.PayPal-Partner-Attribution-Id' => '123123123'
                //'log.AdapterFactory' => '\PayPal\Log\DefaultLogFactory' // Factory class implementing \PayPal\Log\PayPalLogFactory
            )
        );
        
        return $apiContext;
    }
}